body {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../src/images/maps/slaughterhouse.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    background-color: #343a40;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.login-header {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}
.login-header h1{
      font-weight: bold;

}

.credential-input {
    background-color: #222;
    border: none;
    color: #fff;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
}

.credential-input:focus {
    background-color: #333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.form-control::-webkit-slider-runnable-track {
      background: linear-gradient(to right, #007bff, #007bff);
      height:5px;
  }
.form-control::-webkit-slider-thumb{
    -webkit-appearance: none;
     appearance: none;
    width:15px;
    height:15px;
    background-color: #007bff;
    margin-top:-5px;

}
label{
    color: white;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
     background-color: #444;
     border: none;
}

.btn-secondary:hover {
    background-color: #555;
}


#incorrect-login {
    margin-top: 10px;
}

.card{
    border:none;
}