body {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../src/images/i\ am\ starving\ brother.jpg");
}

.register-container {
    width: 100%;
    max-width: 450px; 
    padding: 2rem;
    background-color: #343a40; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.register-header {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}
.register-header h1{
      font-weight: bold;

}

.register-input {
    background-color: #222;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
}

.register-input:focus {
    background-color: #333;
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
.form-control::-webkit-slider-runnable-track {
      background: linear-gradient(to right, #007bff, #007bff);
      height:5px;
      border-radius: 10px;
  }
.form-control::-webkit-slider-thumb{
    -webkit-appearance: none;
     appearance: none;
    width:15px;
    height:15px;
    background-color: #007bff;
    border-radius: 50%;
    margin-top:-5px;

}
label{
    color: white;
}
.btn-primary {
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3; 
}

.btn-secondary {
     background-color: #444; 
     border: none;
}

.btn-secondary:hover {
    background-color: #555;
}


#incorrect-register {
    margin-top: 10px;
}
.input-group-append{
    border-radius: 10px;
}
.card{
    border:none;
}