@media screen and (min-width:992px)
{
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar{
        width: 25%;
        height: 100vh;
        align-items: flex-start;
        margin-left: 10px;
    }
}