.pw_visibility {
    background: url("src/pw/1.png");
    height: 70px;
    width: 70px;
    display: inline-block;
}

.bg-custom {
    background-color: #748330;
}

.login-button {
    padding: 8px 20px;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 5px;
}

.login-button:hover {
    color: black;
    text-decoration: inherit;
}

.menu-element {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 5px;
    transition: 0.3s;
    position: relative;
}

.menu-element::before {
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.menu-element:hover::before {
    width: 100%;
    visibility: visible;
}

#logout {
    color: white;
    text-decoration: none;
}
.anti-alias {
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Universal support since 2021   */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

@media (max-width: 400px) {
    .profile-container {
        display: block;
    }
}
@media (min-width: 400px) {
    .profile-container {
        display: flex;
    }
}

.profile-image{
    width: auto;
    height: 250px;
}
#stat-music:hover{
    cursor:pointer;
}
.stat-card{
    transition: 0.2s;
}
.stat-card:hover{
    background-color: #eee;
}
.change-pw{
    max-width: 500px;
    text-align: center;
}